<h1>Create Product:</h1>

<form action="/products/create" method="POST">
    <div class="form-control">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="Insert product's name">
    </div>

    <div class="form-control">
        <label for="image">Product's image:</label>
        <input type="text" name="image" id="image" placeholder="Insert product's image">
    </div>

    <div class="form-control">
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" placeholder="Insert product's price">
    </div>
    
    <div class="form-control">
        <label for="description">Description:</label>
        <textarea name="description" id="description" placeholder="Product's description"></textarea>
    </div>

    <input type="submit" value="Create" class="btn">
</form>