body {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    background-color: grey;
}
