body {
    background-color: #0c1014;
    color: #fff;
    width: 90%;
    max-width: 60em;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-title {
    font-size: 3.875em;
    text-transform: uppercase;
    text-align: center;
    margin: 2.875em 0;
}

.header {
    display: flex;
    background-color: #05080a;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
}

.header--logo {
    font-size: 2.25em;
    text-transform: uppercase;
    margin-left: 1em;
}