
.form-register-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 100px auto 0 auto;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
}


.form-register {
    display: flex;
    flex-direction: column;
}

.form-register label {
    margin-top: 15px;
}

.form-register #btn {
    cursor: pointer;
    margin-top: 5px;
}