<section class="container-main-title">
    <h1>All Tasks</h1>
</section>

<section class="container-items-tasks">
    {{#each tasks}}
        <section class="container-items-tasks-main-title">
            <h2>{{this.title}}</h2>
        </section>

        <section class="container-items-tasks-status">
            <ul>
                <li>{{this.status}}</li>
            </ul>
        </section>

        <a href="/tasks/edit/{{this.id}}">Edit</a>

        <form action="/tasks/remove" method="POST">
            <input type="hidden" name="id" id="id" value="{{this.id}}">
            <button type="submit">Remove</button>
        </form>
    {{/each}}
</section>