* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto 25%;
    width: 80%;
    background-color: gray;
}

.container {
    width: 650px;
    height: 650px;
    background-color: white;
}

.container h1 {
    text-align: center;
    padding: 15px;
}

.container div {
    margin: auto;
    width: 325px;
}