
<h2>Create</h2>

<form action="/posts/create" method="post">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title">
    <br>
    <label for="comment">Comment:</label>
    <textarea name="comment" id="comment"></textarea>

    <input type="submit" value="Create">
</form>
