<div class="auth-container">
    <h2>Login</h2>

    <form action="/login" method="post">
        <div class="form-control">
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Insert your email">
        </div>

        <div class="form-control">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Insert your password">
        </div>

        <input type="submit" value="Enter">

        <p>Don't have an account? <a href="registe">Click here!</a></p>
    </form>
</div>