<div class="auth-container">
    <h2>Register</h2>

    <form action="/register" method="post">
        <div class="form-control">
            <label for="name">Name:</label>
            <input type="text" name="name" placeholder="Insert your name" required>
        </div>
        <div class="form-control">
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Insert your email" required>
        </div>
        <div class="form-control">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Insert your password" required>
        </div>
        <div class="form-control">
            <label for="confirmpassword">Confirm Password:</label>
            <input type="password" name="confirmpassword" placeholder="Confirm your password" required>
        </div>

        <input type="submit" value="register">

        <p>Do you have a account? <a href="/login">Click here!</a></p>
    </form>
</div>