<section class="container-subtitle">
    <h2>Create your Note</h2>
</section>

<section class="container-form">
    <form action="/notes/create" method="post">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title">
    
        <br>
    
        <label for="description">Description:</label>
        <textarea name="description" id="description"></textarea>
    
        <input type="submit" value="Create" class="btn">
    </form>
</section>