<section class="container-subtitle">
    <h2>Edit your Note</h2>
</section>

<section class="container-form">
    <form action="/notes/edit" method="post">
        <input type="hidden" name="id" value="{{note.id}}">

        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="{{note.title}}">
    
        <br>
    
        <label for="description">Description:</label>
        <textarea name="description" id="description">{{note.description}}</textarea>
    
        <input type="submit" value="Edit" class="btn">
    </form>
</section>