<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Formulário</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Adicionar o usuário</h1>

    <form action="/user/save" method="post">
        <div class="nameUser">
            Nome:
            <input type="text" name="nome" placeholder="Digite o seu nome">
        </div>

        <input type="submit" value="cadastrar">
    </form>
</body>
</html>