<h1>Seja bem-vindo, {{user.name}} {{user.surname}}! </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit hic debitis asperiores. Eveniet expedita dolorem nisi suscipit eos explicabo dicta! Repellendus repudiandae cupiditate voluptates officiis id eligendi aliquam eaque mollitia.</p><br />

{{#if auth}}
    <p>Você está autenticado, <a href="/dashboard">Clique aqui</a> para acessar a sua área</p>
{{else}}
    <p>Você não está autenticado!</p>
{{/if}}
