<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/toughts/add" class="btn">Add Toughts</a>
    </div>

    <h3>Toughts</h3>

    <ul>
        <li><span class="label">{{this.title}}</span></li>
        <span class="actions">
            <a href="/toughts/remove" class="btn">Editar</a>
            <form action="">
                <input type="hidden" name="id" id="{{this.id}}">
                <input type="submit" name="Delete" class="btn">
            </form>
        </span>
    </ul>
</div>