<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/toughts/add" class="btn">Add Toughts</a>
    </div>

    <h3>Toughts</h3>

    <ul>
        {{#each toughts}}
            <li>{{this.title}}</li>
        {{/each}}
    </ul>
</div>