<div class="home-header">
    <h1>All toughts</h1>

    <form action="/" method="get">
        <input type="text" name="search" placeholder="Are you looking for something?">
        <input type="submit" class="btn" value="Search">
    </form>

    <div class="order-container">
        <span>Order by:</span>

        <form action="/" method="get">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="new">
            <button type="submit">Up</button>
        </form>

        <form action="/" method="get">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="old">
            <button type="submit">Down</button>
        </form>

        <a href="/">Clear</a>
    </div>
</div>

<div class="toughts-container">
    {{#each toughts}}
        <figure>
            <blockquote>
                "{{this.title}}"
            </blockquote>

            <figcaption>por <span>{{this.User.name}}</span></figcaption>
        </figure>
    {{/each}}
</div>