<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav class="navbar">
        <section class="navbar-logo">
            <p>TO DO LIST</p>
        </section>
        <section class="navbar-navegation">
            <ul>
                <li><a href="/tasks/">Home</a></li>
                <li><a href="/tasks/create">Create</a></li>
            </ul>
        </section>
    </nav>

    <section class="container">
        {{{body}}}
    </section>
</body>
</html>